body{

    font-family: Arial;

    background:#e9edf2;

    height:100vh;

    display:flex;
    align-items:center;
    justify-content:center;

}

/* container */

.card{

    width:750px;

    padding:40px;

    border-radius:30px;

    background:#eef2f6;

    box-shadow:
        20px 20px 60px #cfd4da,
        -20px -20px 60px #ffffff;

}

h1{
    text-align:center;
    margin-bottom:30px;
}

/* table */

table{

    width:100%;

    border-collapse:separate;

    border-spacing:20px;

}

/* jelly element */

.gel{

    padding:16px;

    border-radius:20px;

    background:#eef2f6;

    text-align:center;

    box-shadow:

        inset 3px 3px 8px rgba(0,0,0,0.08),
        inset -3px -3px 8px rgba(255,255,255,0.9);

    position:relative;

    transition:all .4s cubic-bezier(.2,1.8,.4,1);

}

/* liquid highlight */

.gel::after{

    content:"";

    position:absolute;

    top:4px;
    left:10px;
    right:10px;
    height:40%;

    border-radius:20px;

    background:linear-gradient(
        to bottom,
        rgba(255,255,255,0.9),
        rgba(255,255,255,0)
    );

    opacity:.7;

}

/* jelly hover */

.gel:hover{

    transform:scale(1.1);

    box-shadow:

        inset 6px 6px 12px rgba(0,0,0,0.15),
        inset -6px -6px 12px rgba(255,255,255,1),
        0 10px 20px rgba(0,0,0,0.15);

}