<!DOCTYPE html>
<html lang="th">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Plant Database</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

<div class="title">
Plant Database
</div>

<div class="buttons">

<div class="btn">ID</div>
<div class="btn">Name</div>

</div>

<div class="table-box">

<table>

{% for plant in plants %}

<tr>
<td>{{ plant.id }}</td>
<td>{{ plant.name }}</td>
</tr>

{% endfor %}

</table>

</div>

</div>

</body>
</html>